.editorWrapper {
    width: 600px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#editor {
    height: 25rem;
    background-color: var(--area-color);
    padding: 1rem;
}

.previewerWrapper {
    width: 600px;
    margin: 3rem 0;
    background-color: var(--area-color);
    overflow-wrap: break-word;
}

#preview {
    padding: 1rem;
    font-size: 1.2rem;
}
