.editorWrapper {
    width: 600px;
}


.previewerWrapper {
    width: 600px;
    margin: 3rem 0;
    background-color: var(--area-color);
    overflow-wrap: break-word;
}

#preview {
    font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
    .editorWrapper {
        width: 90%;
    }
}