:root {
    --bg-color: #87b5b5;
    --header-color: #4aa3a3;
    --area-color: #c0d8d8;
    --shadow-color: #3a5f5f;
    --border-color: #1d2f2f;
    --preview-color: #224b4b;
    --code-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.main {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editorWrapper {
    width: 600px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    height: 2.5rem;
    background-color: var(--header-color);
    box-shadow: 1px 1px 10px 2px var(--shadow-color);
    border: 1px solid var(--border-color);
}

.header span {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2rem;
}

#editor {
    height: 25rem;
    background-color: var(--area-color);
    padding: 1rem;
}

.previewerWrapper {
    width: 800px;
    margin: 3rem 0;
    background-color: var(--area-color);
    overflow-wrap: break-word;
}

#preview {
    padding: 1rem;
    font-size: 1.5rem;
}

#preview > * {
    margin: 2rem 0;
}

#preview blockquote {
    border-left: 3px solid var(--preview-color);
    color: var(--preview-color);
    padding-left: 5px;
    margin-left: 25px;
}

#preview code {
    background: var(--code-color);
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
}

#preview pre {
    background: var(--code-color);
    padding: 5px 0 5px 5px;
}

#preview h1 {
    border-bottom: 2px solid var(--preview-color);
}

#preview h2 {
    border-bottom: 1px solid var(--preview-color);
}

#preview table {
    border-collapse: collapse;
}

#preview td,
#preview th {
    border: 2px solid var(--preview-color);
    padding-left: 5px;
    padding-right: 5px;
}
  
#preview ul, #preview ol {
    padding: 0 2rem;
}
