:root {
    --bg-color: #87b5b5;
    --header-color: #4aa3a3;
    --area-color: #c0d8d8;
    --shadow-color: #3a5f5f;
    --border-color: #1d2f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.main {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor__wrapper {
    width: 600px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.editor__header {
    height: 2.5rem;
    background-color: var(--header-color);
    box-shadow: 1px 1px 10px 2px var(--shadow-color);
    border: 1px solid var(--border-color);
}

.editor__header span {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2rem;
}

#editor {
    height: 25rem;
    background-color: var(--area-color);
    padding: 1rem;
}
